

    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="Content/images/banner_1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="Content/images/banner_1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="Content/images/banner_1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <dl>
            <dt class="bg-blue"><i class="fa fa-car"></i></dt>
            <dd>车商城</dd>
        </dl>
        <dl>
            <dt class="bg-danger"><i class="fa fa-book"></i></dt>
            <dd>分期购车</dd>
        </dl>
        <dl>
            <dt class="bg-green"><i class="fa fa-bell"></i></dt>
            <dd>团购活动</dd>
        </dl>
        <dl>
            <dt class="bg-orange"><i class="fa fa-search"></i></dt>
            <dd>找二手车</dd>
        </dl>
    </nav>
    <div class="pic">
        <img src="Content/images/banner_2.jpg" alt="">
    </div>
    <main class="main">
        <h2>车主服务</h2>
        <div class="list">
            <dl>
                <dt><i class="fa fa-credit-card text-dark-orange"></i></dt>
                <dd>油卡充值</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-heart text-light-gray"></i></dt>
                <dd>低价保险</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-feed text-red"></i></dt>
                <dd>4S店保养</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-female text-highlight-blue"></i></dt>
                <dd>品质轮胎</dd>
            </dl>
        </div>
        <div class="list">
            <dl>
                <dt><i class="fa fa-flask text-red"></i></dt>
                <dd>油卡充值</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-bell text-gray"></i></dt>
                <dd>低价保险</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-heart-o text-highlight-blue"></i></dt>
                <dd>4S店保养</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-globe text-orange"></i></dt>
                <dd>品质轮胎</dd>
            </dl>
        </div>
        <div class="list">
            <dl>
                <dt><i class="fa fa-book text-red"></i></dt>
                <dd>油卡充值</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-money text-orange"></i></dt>
                <dd>低价保险</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-magnet text-gray"></i></dt>
                <dd>4S店保养</dd>
            </dl>
            <dl>
                <dt><i class="fa fa-music text-highlight-blue"></i></dt>
                <dd>品质轮胎</dd>
            </dl>
        </div>
    </main>
    <div class="time_qiang">
        <header class="head">
            <h2>限时抢购</h2>
            <p class="float-right times"><span>13</span>：<span>13</span>：<span>11</span></p>
        </header>
        <div class="shop-banner">
            <dl>
                <dt><img src="Content/images/banner_3.jpg" alt=""></dt>
                <dd>
                    <h3>补胎工具简单套装</h3>
                    <p><span class="xian">￥9.9</span>20元<span></span></p>
                </dd>
            </dl>
            <dl>
                <dt><img src="Content/images/banner_3 (2).jpg" alt=""></dt>
                <dd>
                    <h3>补胎工具简单套装</h3>
                    <p><span class="xian">￥9.9</span>20元<span></span></p>
                </dd>
            </dl>
            <dl>
                <dt><img src="Content/images/banner_3 (2).jpg" alt=""></dt>
                <dd>
                    <h3>补胎工具简单套装</h3>
                    <p><span class="xian">￥9.9</span>20元<span></span></p>
                </dd>
            </dl>
        </div>
    </div>
    <div class="huodong">
        <div class="huodong-head">
            <h2>活动专区</h2><span class="float-right">更多活动</span>
            <div class="back"><i class="fa fa-angle-right"></i></div>
        </div>
        <div class="huodong-list">
            <dl>
                <dd>
                    <h3>侧身家炫富</h3>
                    <h4>身家大PK</h4>
                </dd>
                <dt><img src="Content/images/banner_3 (4).jpg" alt=""></dt>
            </dl>
            <hr>
            <dl>
                <dd>
                    <h3>侧身家炫富</h3>
                    <h4>身家大PK</h4>
                </dd>
                <dt><img src="Content/images/banner_3 (1).jpg" alt=""></dt>
            </dl>
            <hr>
            <dl>
                <dd>
                    <h3>侧身家炫富</h3>
                    <h4>身家大PK</h4>
                </dd>
                <dt><img src="Content/images/banner_3 (5).jpg" alt=""></dt>
            </dl>
        </div>
    </div>
    <div class="shop-car">
        <div class="huodong-head">
            <h2>猜你喜欢</h2><span class="float-right">更多</span>
            <div class="back"><i class="fa fa-angle-right"></i></div>
        </div>
        <div id="pulldown">
            <span>下拉刷新</span>
        </div>
        <div class="car-list">
            <dl>
                <dt><img src="Content/images/banner_3 (3).jpg" alt=""></dt>
                <dd>
                    <h3>上汽大众-全新旅途L</h3>
                    <p>上汽大众-全新旅途2年0利息</p>
                    <p><span class="color-red">1元</span><s class="delet">44万</s></p>
                </dd>
            </dl>
            <dl>
                <dt><img src="Content/images/banner_4 (1).jpg" alt=""></dt>
                <dd>
                    <h3>上汽大众-全新旅途L</h3>
                    <p>上汽大众-全新旅途2年0利息</p>
                    <p><span class="color-red">1元</span><s class="delet">44万</s></p>
                </dd>
            </dl>
        </div>
    </div>
    <div id="pullup">
        <span>加载更多</span>
    </div>


